h1{
	text-align: center;
}


span.glyphicon {
    color: orangered;
    margin-right: 5px;
}

.page_header{
	position:absolute;
	background: rgba(42, 58, 77,0.4);
	height: 80px;
	width: 100%;
}

body{
	background-image: url("images/background_wood.jpg");
	background-repeat: no-repeat;
 	background-size:100% auto;
	color: white;
}


.content{
	position:absolute;
	margin-top: 140px;
	margin-left: 2%;
}

.playground {
	background-color: rgba(42, 58, 77,0.4);
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    width: 1200px;
    height: 600px; 
    padding:280px;
}

.loginbutton{
	   background-color: orangered;
}